* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #ffffff;
    position: relative;
    /* display:flexbox; */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 15%;
    margin: 20px;
    border: 1px solid rgb(197, 200, 202);
    border-radius: 2.6px;
    background-color: rgb(197, 200, 202);
    box-shadow: 0.7px 0.7px 0.7px rgba(128, 128, 128, 0.614);
}


.image img {
    width: 100%;
    background-size: cover;
    height: 398px;
    /* Set a fixed height for the image */
    object-fit: cover;
}

.des {
    display: block;
    text-align: center;
    padding: 15px 20px;
    margin: 20px 50px;

}

.card p {
    text-align: center;
}

span {
    margin-left: 67%;
    font-size: 25px;
}

.card span button:first-child {
    border-color: orange;
    margin-left: -10px;
}

.card button:last-child {
    padding: 4px;
    margin-top: 4%;
    margin-left: 33%;
    width: 31%;
    background-color: rgb(255, 252, 252);
    border: 1px solid orange;
    border-radius: 3%;
}

.card button:hover {
    cursor: pointer;
    background-color: black;
    color: #ffffff;
}